@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background-color: #e0ecfd;
    font-family: 'Mulish', sans-serif;
    font-size: 1.2rem;
    min-width: 100%;
}

/*-----PLANTILLA_INTERFAZ_DOCENTE-------*/

.Container-principal > *{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 1px  #0a2319;
    overflow: hidden;
    text-align: center;
}

.Container-principal{
    display: grid;
    gap: 10;
    grid-template-columns: 350px auto auto;
    grid-template-rows:repeat(6,1fr);
    margin: 10px 30px 10px 30px;
    height: 97vh;
}

.Usuario-interfaz{
    background: linear-gradient(to bottom, #a8e6ce, #c6efdf);
    grid-column: 1/1; 
    grid-row: 1/7; 
}

.Img-Usuario-Interfaz h5{
    /*background-color: antiquewhite;*/
    margin-top: -10px;
}

.Img-Usuario{
    width: 130px;
    height: auto;
}

.Menu-Interfaz-Docente{
    padding: 5px 10px;
    /*background-color: #7197cc;*/
    border-radius: 10px;
    margin: 15px 0 0 0;
}

.nav_link{
    color: #000;
    font-size: 14px;
    display: block;
    padding: 3px 0;
    text-decoration: none;
}

.nav_link_new{
    margin-left: -15px;
    font-weight: bold;
}
.nav_link--inside:hover{
    background-color: #6bd5ac;
}

.nav_link--inside{
    border-radius: 6px;
    padding-left: 20px;
    text-align: left;
    margin-left: 10px;
}

.list{
    width: 100%;
    /*height: 65vh;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*background-color: #afc3df;*/
}

.list-item{
    list-style-type: none;
    text-align: center;
    overflow: hidden;
}

.list-item--click{
    cursor: pointer;
}

.list-button{
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 0px auto;
}

.arrow .list-arrow{
    transform: rotate(90deg);
}

.list-arrow{
    margin-left:auto ;
    transition: transform .3s;
}

.list-show{
    margin-left: auto;
    border-left: 1px solid #000;
    list-style: none;
    transition: height .4s;
    /*height: 0;*/
}

.list-new{
    margin-left: 15px;
    list-style: none;
    transition: height .4s;
    /*height: 0;*/
}
.logo img{
    width: 150px;
    height: auto;
    clip-path: inset(15% 0 0 0);
    margin-top: -10px;
    margin: -10px 0px 0px 15px;
    filter:saturate(80%);
    
}
.Botton-Act-Datos{
    width: 180px;
    height: 35px;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #3dc792;
    box-shadow: 3px 3px 5px #17513b;
    color: #0a2319;
    border: none;
    font-weight: bold;
}
.Botton-Act-Datos:hover{
    cursor: pointer;
    transition: cubic-bezier(0.23, 1, 0.320, 1);
    background-color: #2d9d72;
}

.Institucion-interfaz{
    background-color: #a8e6ce;
    grid-column: 2/4; 
    margin: 0px 0px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Contenido-interfaz{
    grid-column: 2/4; 
    grid-row: 2/7;
    margin: 0px 0px 0px 15px;
    overflow: auto;
    background-color: #f1f7ff;
}

.Contenido-interfaz::-webkit-scrollbar {
    width: 12px;
    background-color: #8addbd;
    border-radius: 2px;

    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;

}

.Contenido-interfaz::-webkit-scrollbar-thumb {
    background-color: #36bb88; /* Color del indicador de posición */
    border-radius: 3px; /* Bordes redondeados del indicador de posición */
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
}

.Contenido-interfaz::-webkit-scrollbar-thumb:hover {
    background-color: #2d9d72; /* Cambiar el color al pasar el mouse sobre el indicador de posición */
}

.Button-Salir-Interfaz{
    width: 90px;
    height: 35px;
    border-radius: 20px;
    background-color: #3dc792;
    border: none;
    font-weight: bold;
    margin-right: 15px;
}

.Nombre-Institucion h3{
    text-shadow: 2px 2px 4px #134230;
    letter-spacing: 2px;
    word-spacing: 2px;
}
.Button-Salir-Interfaz:hover{
    cursor: pointer;
    background-color: #2d9d72;
}

@media (min-width: 1366px) {
    .Container-principal{
        gap: 10;
        grid-template-columns: 350px auto auto;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
    .Container-principal{
        gap: 10;
        grid-template-columns: 280px auto auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .Container-principal{
        gap: 10;
        grid-template-columns: 220px auto auto;
        margin: 5px 15px 5px 15px;
    }
}
  
@media screen and (max-width: 767px) {
    .Container-principal{
        gap: 10;
        margin: 5px 15px 5px 15px;
        grid-template-columns: 200px auto auto;
    }

    .nav_link{
        font-size: 11px;
 
    }


}
  
/*-----OBERVADOR_ESTUDIANTE.HTML--------*/
.Observador-Estudiante-1{
    margin: auto;
    width: 85%;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 80px auto 80px;
    background-color: #63af92;
}

.h3-Obs-Est{
    grid-column: 1/4;
    grid-row: 1;
    text-align: justify;
}

.Div-Table{
    grid-column: 1/4;
    grid-row: 2;
    background-color: #a8e6ce;
    /*GRID TABLE*/
    display: grid;
    gap: 10px;
    grid-template-columns: 15px auto auto auto auto auto 15px;
    grid-row: 50px auto 50px;
}

  .h3_observador{
    grid-column: 3;
    grid-row: 1;
    margin-left: 50px;
    padding-left: 50px;
  }

  .h3_observador_2{
    grid-column: 5;
    grid-row: 1;
  }

  .Container_Table_Observador{
    grid-column: 2/7;
    grid-row: 2;
    text-align: center;
    border: 1px solid #000;
    border-radius: 20px;
    border-collapse: collapse;
  }

  .Encabezado_table{
    height: 28px;
}


.img_table_observador{
    width: 30px;
    height: 30px;
    padding: 3px;
}

  .Regresar_Button_Obs_Est{
    grid-column: 3;
    grid-row: 3;
    width: 120px;
    height: 35px;
    border-radius: 20px;
    background-color: #3dc792;
    border: none;
    font-weight: bold;
    margin-right: 15px;
  }

  .Regresar_Button_Obs_Est span{
    padding-bottom: 15px;
  }

  .Imprimir_Button_Obs_Est{
    grid-column: 4;
    grid-row: 3;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 180px;
    height: 35px;
    background-color: #3dc792;
    border: none;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    text-decoration: none;
  }

  .Imprimir_Button_Obs_Est:hover{
    cursor: pointer;
    background-color: #2d9d72;
  }

  .Descargar_Button_Obs_Est{
    grid-column: 6;
    grid-row: 3 ;
    width: 90px;
    height: 35px;
    border-radius: 20px;
    background-color: #3dc792;
    border: none;
    font-weight: bold;
    margin-right: 15px;
  }

.Informacion-Obs-Est{
    grid-column: 1/4;
    grid-row: 3;
    text-align: justify;
}


/*-----OBERVADOR_ESTUDIANTE_MATRICULA.HTML--------*/

.Container-Observador-Estudiante{
    width: 85%;
    display: grid;
    gap: 10;
    margin: 10px 60px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 40px 30px auto 30px auto 35px auto auto;
}

.Obs-Est-h3{
    /*background-color: aquamarine;*/
    grid-column: 1/7;
}

.Obs-Est-h3 h3{
    text-align: justify;
}

.h4-Info-Est{
    /*background-color: blue;*/
    grid-column: 1/3;
    grid-row: 2;
}

.Container-Info-Est{
    /*background-color: burlywood;*/
    grid-column: 1/7;
    grid-row: 3;
    /*Estilos Contenedor para Display Grid*/
    display: grid;
    gap: 10;
    grid-template-columns: 200px auto auto;
}

  .foto-Info-Est{
    /*background-color: darkgreen;*/
    grid-column: 1;
    grid-row: 1/7;
  }

  .Img-Obs-Est{
    width: 140px;
    height: 130px;
  }

  .Info-Est{
    display: flex;
    align-items: center;
   }

   .Info-Est p{
    font-size: 16px;
    padding-left: 3px;
   }

   .Info-Est h6{
    font-size: 15px;
    padding-top: -15px;
   }
   
.h4-InfoAcad-Est{
    /*background-color: chartreuse;*/
    grid-column: 1/3;
    grid-row: 4;
    margin-top: 15px;

}

.h4-Info-Est h4{
    font-weight:900;
}

.Container-InfoAcad-Est{
    /*background-color: chocolate;*/
    grid-column: 1/7;
    grid-row: 5;
    margin-top: 13px;
    /*Estilos Contenedor para Display Grid*/
    display: grid;
    gap: 10;
    grid-template-columns: auto auto auto;
}
  .InfoAcad-Est{
    display: flex;
    align-items: center;
  }

  .InfoAcad-Est p{
    font-size: 16px;
    padding-left: 3px;
   }

   .InfoAcad-Est h6{
    font-size: 15px;
    padding-top: -15px;
   }

.h4-InfoAcudi-Est{
    /*background-color: cornflowerblue;*/
    grid-column: 1/3;
    grid-row: 6;
    margin-top: 15px;
    margin-left: -10px;
}

.Container-InfoAcudi-Est{
    /*background-color: darkgreen;*/
    grid-column: 1/7;
    grid-row: 7;
    margin-top: 10px;
    /*Estilos Contenedor para Display Grid*/
    display: grid;
    gap: 10;
    grid-template-columns: auto auto;
}
  .InfoAcudi-Est{
    display: flex;
    align-items: center;
  }

  .InfoAcudi-Est p{
    font-size: 16px;
    padding-left: 3px;
   }

   .InfoAcudi-Est h6{
    font-size: 15px;
    padding-top: -15px;
   }

.TableObservaciones-Obs-Est{
    background-color: #b7ead7;
    grid-column: 1/7;
    grid-row: 8;
    margin-top: 20px;
    border-radius: 10px;
    /*Estilos Contenedor para Display Grid*/
    display: grid;
    gap: 10;
    grid-template-rows: auto auto;
    grid-template-columns: 100px auto auto auto 100px;
}

.Observaciones-Table-Obser-Est{
    grid-column: 2/6;
    border-collapse: collapse;
    width: 600;
    border: 1px solid #000;
    margin: 10px 10px;
    border-radius: 10px;
}

.Ingresar_Obs{
    background-color: #3dc792;
    grid-column: 5/7;
    grid-row: 2;
    width: 130px;
    height: 40px;
    border: none;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 10px;
}

.Ingresar_Obs:hover{
    cursor: pointer;
    background-color: #2d9d72;
}
